.project_card {
  border: 1px solid #fab555;
  background-color: #fdebc3;
  color: black;
  padding: 20px;
  ul {
    list-style: none;
  }
  h4 {
    font-size: 1.8rem;
    margin: 1.2rem 0 1rem;
  }
  p {
    max-width: 75ch;
  }
  &-heading {
    width: 100%;
    h3 {
      color: #f39c24;
    }
  }
  &-links {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    a {
      color: #f6a532;
      font-size: 1.7rem;
      display: flex;
      align-items: center;
      width: 30%;
      justify-content: space-around;
    }
  }
  &-technologies {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    li {
      background-color: #fab555;
      color: white;
      border-radius: 10px;
      padding: 6px;
    }
  }
}
